{% extends 'partials/body.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block contenido %}

<title>PERSONAS</title>
<br>
<br>
<br>
<br>
  <div class="contenedor" id="contenedor-persona">
    <h2>EDITAR PERSONA</h2>
    <br>

    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}

      <div class="row mb-3">
        <div class="col-md-12 text-center">
          <a href="{% url 'detalles_persona' persona.id %}" class="btn btn-secondary">Cancelar</a>
          <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </div>
      </div>
    </form>
  </div>
{% endblock contenido %}
