 .body {
    font-family: 'Arial', sans-serif;
    color: #000;
    background-color: #000;
    margin: 0;
    padding: 0;
    padding-top:0;
    display: grid; 
    grid-template-rows: 150px 90px 80px 200px;
  }

    #navbar {
      background-color: #0857C3;
    }
    a.nav-link{
      color: #fff; 
    }
    a.nav-link:hover {
      color: #7c7c7c; 
    }

    h2, h3 {
      color: #000;
      text-align: center;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 10px;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 10px;
      text-align: left;
    }

    th {
      background-color: #fff;
      text-align: center;
    }

    label {
      display: block;
      font-weight: bold;
      margin-bottom: 8px;
      color: #000;
      text-align: center;
    }



    .adjuntos {
      margin-bottom: 20px;
    }

    .boton-editar {
      background-color: #0066cc;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      display: block;
      margin: 20px auto;
    }

    .boton-editar:hover {
      background-color: #46a3ff;  
    }

    #boton-crear {
      margin-right:auto;
      background-color: #003594;
    }

    #ver-mas {

      background-color: #003594;
    }
    
    #tabla-header {

      background-color: #418FDE;
      color: #fff;
    }
    #contenedor-contrato {
      margin: 1.5rem; /* Margen exterior del contenedor principal */
      background-color: #f2f2f2; /* Color gris de fondo */
      padding: 1rem; /* Añadir un relleno para mejorar la apariencia */
      border: 2px grove #ddd;
    }

    .seccion-container {
      margin-bottom: 1.5rem; /* Margen inferior de las secciones */
      background-color: #ffffff; /* Color de fondo blanco para las secciones */
      padding: 1rem; /* Añadir un relleno para mejorar la apariencia de las secciones */
      border: 1px solid #ddd; 
      border-radius: 5px; /* Agrega bordes redondeados si es necesario */
    }

    .seccion-container .row {
      border: 1px solid #ddd;
    }

    .seccion-container .col {
      padding: 1rem; /* Añadir relleno a cada columna */
      border: 1px solid #fff !important;

    }