{% load static %}

<!DOCTYPE html>
<html lang="ES">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    {% block stylesheet %}
    {% endblock stylesheet %}

</head>


<div class="media">
    
</div>

<body class="img-fondo-as">
    {% include 'partials/navbar.html' %}
    
    <div class="container">
                         
        {% block contenido %}
        {% endblock contenido %}
    </div>

    {% include 'partials/js.html' %}
    {% block javascript %}
    {% endblock javascript %}
    
</body>



</html>